@model SpringTest.Web.Models.ProductViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Novo Produto</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.Partial("_formProduct")    
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
