@model SpringTest.Domain.Entities.Product

@{
    ViewBag.Title = "Edição de produto";
}

<h2>Edição de produto</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_formProduct")
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
