@model SpringTest.Web.Models.CategoryViewModel

@{
  ViewBag.Title = "Nova categoria";
}

<h2>Nova Categoria</h2>

@using (Html.BeginForm()) {
@Html.AntiForgeryToken()
@Html.Partial("_formCategory")
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
