@model SpringTest.Domain.Entities.Category

@{
  ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
@Html.AntiForgeryToken()
@Html.Partial("_formCategory")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
