@model SpringTest.Web.Models.CategoryViewModel

@{
  ViewBag.Title = "Editar categoria";
}

<h2>Editar categoria</h2>

@using (Html.BeginForm()) {
@Html.AntiForgeryToken()
@Html.Partial("_formCategory")
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
